nav#menu ul {
    margin: auto;
}

.nav-bar {
    background-color: #2ecc71;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0px;
}

nav#menu li {
    display: inline-block;
    transition: background-color 1s;
    padding: 10px;
    margin-left: 104px;
    list-style: none;
    cursor: pointer;
}

nav#menu li:hover {
    background-color: #333333;
}

nav#menu a {
    color: black;
    text-decoration: none;
    margin: -0px;
}

nav#menu a:hover {
    color: #87ceeb;
}



/* nav#menu i button {
margin-left: 70px;

}

nav#menu button {
    border-radius: 5px;
    border: none;
    font-size: 23px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    color: black;
} */

/* nav#menu i:hover {
    color: #87ceeb;
} */


.categorias {
    background-color: #f5f5f5;
    text-transform: none;
    cursor: context-menu;
}

.categorias h5 {
    font-family: "Arial";
    color: black;
}

.categorias li {
    list-style: none;
    display: inline-block;
    margin: 0px 90px 0px 5px;
    font-family: "Arial";
}

.categorias li:hover {
    color: #2ecc71;
}



